<div class="backtop" id="back-to-top">
	<ul class="backtop-group">
		<li>
			<a class="iconimg wap" data-hover="dropdown" href="javascript:;">加关注</a>
			<div class="dropdown-menu">
				<img src="/img/wx.png" alt=""></div>
		</li>
		<li>
			<a class="iconimg qq" target="_blank" href="">QQ在线咨询</a>
		</li>
		<li>
			<a class="iconimg online" href="javascript:">在线客服</a>
		</li>
		<li>
			<a class="iconimg totop" id="totop" href="account.html#top" style="display: none;">回到顶部</a>
		</li>
	</ul>
</div>
<div id="modal-dialog" class="modal hide"></div>
<div class="modal-cover hide" id="modal-dialog-cover"></div>