<div class="footer">
	<div class="footer-links">
		<div class="container">
			<dl class="col-links">
				<dt>交易方式</dt>
				<dd>
					<a href="/help/help.html" target="_blank">全国交易方式</a>
				</dd>
				<dd>
					<a href="/help/help.html" target="_blank">当面交易方式</a>
				</dd>
			</dl>
			<dl class="col-links">
				<dt>帮助中心</dt>
				<dd>
					<a href="/help/questions.html" target="_blank">常见问题</a>
				</dd>
				<dd>
					<a href="/company/agreement.html" target="_blank">服务条款</a>
				</dd>
			</dl>
			<dl class="col-links">
				<dt>关于我们</dt>
				<dd>
					<a href="/company/introduction.html" target="_blank">公司简介</a>
				</dd>
				<dd>
					<a href="/company/disclaimer.html" target="_blank">免责声明</a>
				</dd>
				<dd>
					<a href="/company/contctus.html" target="_blank">联系我们</a>
				</dd>
				<dd>
					<a href="/help/cooperation.html" target="_blank">商家合作</a>
				</dd>
			</dl>
			<dl class="col-links">
				<dt>关注我们</dt>
				<dd>
					<a href="">新浪微博</a>
				</dd>
				<dd>
					<a href="">官方微信</a>
				</dd>
			</dl>
			<div class="col-contact">
				<p class="phone">xxx-xxxx-xxxx</p>
				<p class="time">（周一至周日 9:00-18:00）</p>
				<a class="btn btn-primary btn-sm" href="">联系在线客服</a>
			</div>
		</div>
	</div>
	<div class="copyright">
		<div class="container">
			<p class="pull-left">Copyright © 2015 www.kawu.com 51卡务网络科技有限公司 版权所有</p>
			<p class="pull-right">
				<a href="" target="_blank">粤ICP备xxxx号-1</a>
				<span class="sep">|</span>
				服务电话：xxx-xxxx-xxxx
			</p>
		</div>
	</div>
</div>
<!-- <div class="qqservice" id="qqservice">
	<a class="modal-close" id="qqservice-close" href="javascript:;">×</a>
	<a class="qqlink" target="_blank" href="">
		<span class="iconimg">QQ在线咨询</span>
		<span class="icontxt">经常有人冒充51卡务网客服QQ，请大家注意识别，以免上当受骗！！</span>
	</a>
</div>
<script>$(function () {$("#qqservice-close").click(function () {$("#qqservice").hide("fast");});});</script> -->
<div class="backtop" id="back-to-top">
	<ul class="backtop-group">
		<li>
			<a class="iconimg wap" data-hover="dropdown" href="javascript:;">加关注</a>
			<div class="dropdown-menu">
				<img src="/img/wx.png" alt=""></div>
		</li>
		<li>
			<a class="iconimg qq" target="_blank" href="">QQ在线咨询</a>
		</li>
		<li>
			<a class="iconimg online" href="">在线客服</a>
		</li>
		<li>
			<a class="iconimg totop" id="totop" href="" style="display: none;">回到顶部</a>
		</li>
	</ul>
</div>
<div id="modal-dialog" class="modal hide"></div>
<div class="modal-cover hide" id="modal-dialog-cover"></div>