
<div class="footer">
    <div class="footer-box">
        <div class="re-code" style="width: 100%">
            <div class="container">
                <ul class="supply">
                    <li>
                        <ul>
                            <li class="title">交易方式</li>
                            <li>全国交易方式</li>
                            <li>当面交易方式</li>
                        </ul>
                    </li>
                    <li>
                        <ul>
                            <li class="title">帮助中心</li>
                            <li>常见问题</li>
                            <li>服务条款</li>
                        </ul>
                    </li>
                    <li>
                        <ul>
                            <li class="title">关于我们</li>
                            <li>公司简介</li>
                            <li>免责声明</li>
                            <li>联系我们</li>
                            <li>商家合作</li>
                        </ul>
                    </li>
                    <li class="last">
                        <ul>
                            <li class="title">关注我们</li>
                            <li>新浪微博</li>
                            <li>官方微信</li>
                        </ul>
                    </li>
                </ul>
                <b class="quare"><img class="square" src="/img/code.jpg" alt=""/></b>
                <span class="focus">
                    扫描二维码<br>
                    关注51卡务微信<br>
                    卡务一手掌握
                </span>

                <div class="support">
                    <h4>服务支持</h4>

                    <h2>400-6093-365</h2>

                    <p>周一至周日9:00-21:00</p>
                    <span>售后服务/投诉处理</span>
                </div>
            </div>
        </div>
        <div class="link">
            <p>
            <span>
                友情链接:&nbsp;&nbsp;
                <a href="http://test.helpyouworkeasy.com:3000/" target="_blank">新浪创业</a>&nbsp;&nbsp;
                <a href="http://test.helpyouworkeasy.com:3000/" target="_blank">果壳网</a>&nbsp;&nbsp;
                <a href="http://test.helpyouworkeasy.com:3000/" target="_blank">IT桔子</a>&nbsp;&nbsp;
                <a href="http://test.helpyouworkeasy.com:3000/" target="_blank">创投圈</a>&nbsp;&nbsp;
                <a href="http://test.helpyouworkeasy.com:3000/" target="_blank">i黑马</a>&nbsp;&nbsp;
                <a href="http://test.helpyouworkeasy.com:3000/" target="_blank">腾讯创业</a>&nbsp;&nbsp;
                <a href="http://test.helpyouworkeasy.com:3000/" target="_blank">BOSS直聘</a> &nbsp;&nbsp;
                <a href="http://test.helpyouworkeasy.com:3000/" target="_blank">京东智创</a>&nbsp;&nbsp;
                <a href="http://test.helpyouworkeasy.com:3000/" target="_blank">智诚包网</a>&nbsp;&nbsp;
                <a href="http://test.helpyouworkeasy.com:3000/" target="_blank">36氪</a>&nbsp;&nbsp;
            </span>
            </p>

            <p>
                <span>copyright©2015-2016&nbsp;津和财世纪信息技术有限公司&nbsp;版权所有&nbsp;&nbsp;&nbsp;&nbsp;津ICP备15006089号-2</span>
            </p>
        </div>

    </div>
</div>