<div class="content-caption">
	<div class="container">
		<div class="bdsharebuttonbox pull-right bdshare-button-style0-32" data-bd-bind="1460978087133">
			<a href="http://www.lipin.com/help-faq.html#" class="bds_sqq" data-cmd="sqq" tip="分享给QQ好友" title="分享到QQ好友"></a>
			<a href="http://www.lipin.com/help-faq.html#" class="bds_qzone" data-cmd="qzone" tip="分享到QQ空间" title="分享到QQ空间"></a>
			<a href="http://www.lipin.com/help-faq.html#" class="bds_weixin" data-cmd="weixin" tip="分享到微信" title="分享到微信"></a>
			<a href="http://www.lipin.com/help-faq.html#" class="bds_tsina" data-cmd="tsina" tip="分享到新浪微博" title="分享到新浪微博"></a>
			<a href="http://www.lipin.com/help-faq.html#" class="bds_tqq" data-cmd="tqq" tip="分享到腾讯微博" title="分享到腾讯微博"></a>
			<a href="http://www.lipin.com/help-faq.html#" class="bds_douban" data-cmd="douban" tip="分享到豆瓣网" title="分享到豆瓣网"></a>
			<a href="http://www.lipin.com/help-faq.html#" class="bds_copy" data-cmd="copy" tip="复制网址" title="分享到复制网址"></a>
			<a href="http://www.lipin.com/help-faq.html#" class="bds_more" data-cmd="more"></a>
		</div>
		<h2 class="text-red">关于我们</h2>
	</div>
</div>