<div class="tip" id="eytip"> <i id="tip-arrow" class="tip-arrow"></i>
	<div class="tip-cont" id="tip-cont"></div>
</div>
<div class="header">
	<div class="navbar navbar-inverse">
		<div class="container-fluid">
			<h1 class="navbar-brand">
				<a href="/">
					<img class="png" src="../img/kawu_logo.jpg"></a>
			</h1>
			<ul class="navbar-nav">
				<li class="navbar-item">
					<a class="navbar-link" href="/" target="_blank">首页</a>
				</li>
				<!-- <li class="navbar-item">
					<a class="navbar-link" data-hover="dropdown" href="sellcards.html">
						<span>礼品卡回收</span>
						<span class="caret"></span>
					</a>
					<div class="dropdown-menu dropdown-menu-navbar"> <i class="dropdown-arrow dropdown-arrow1"></i>
						<i class="dropdown-arrow dropdown-arrow2"></i>
						<ul class="dropdown-menu-list fn-clear">
							<li>
								<a href="b2c.html" target="_blank">电商卡回收</a>
							</li>
							<li>
								<a href="trip.html" target="_blank">旅游卡回收</a>
							</li>
							<li>
								<a href="mart.html" target="_blank">商超卡回收</a>
							</li>
							<li>
								<a href="oils.html" target="_blank">加油卡回收</a>
							</li>
						</ul>
					</div>
				</li> -->
				<li class="navbar-item">
					<a class="navbar-link" href="/recovery.html" target="_blank">礼品卡回收</a>
				</li>
				<!-- <li class="navbar-item">
					<a class="navbar-link" href="costs.html" target="_blank">话费卡回收</a>
				</li> -->
			</ul>
			<ul class="navbar-links">
				<li class="navbar-item pr10">
					<span class="username" style="color:#fff;">hi,<%= user.member_code %></span>
					<span class="sep">|</span>
					<a class="out" href="/out.html">退出</a>
				</li>
				<li class="navbar-item">
					<a class="iconlink iconlink-account" data-hover="dropdown" href="/user/myaccount.html">
						<i class="iconfont icon-account"></i>
						我的账户
					</a>
					<div class="dropdown-menu dropdown-menu-mylipin">
						<i class="dropdown-arrow dropdown-arrow1"></i>
						<i class="dropdown-arrow dropdown-arrow2"></i>
						<ul class="dropdown-menu-list fn-clear">
							<li>
								<a href="/user/sellcards.html">
									<i class="iconfont icon-sell text-success"></i>
									我要卖卡
								</a>
							</li>
							<li>
								<a href="/user/selldetail.html">
									<i class="iconfont icon-history text-warning"></i>
									卖卡记录
								</a>
							</li>
							<li class="last">
								<a href="/user/mydatum.html">
									<i class="iconfont icon-profile text-info"></i>
									资料管理
								</a>
							</li>
						</ul>
					</div>
				</li>
				<li class="navbar-item">
					<a class="iconlink" data-hover="dropdown" href="javascript:;">
						<i class="iconfont icon-mobile"></i>
					</a>
					<div class="dropdown-menu dropdown-menu-qrcode">
						<i class="dropdown-arrow dropdown-arrow1"></i>
						<i class="dropdown-arrow dropdown-arrow2"></i>
						<img src="../img/wap.png">
						<p>扫一扫，手机看</p>
					</div>
				</li>
				<li class="navbar-item">
					<a class="iconlink" data-hover="dropdown" href="javascript:;">
						<i class="iconfont icon-qrcode"></i>
					</a>
					<div class="dropdown-menu dropdown-menu-qrcode">
						<i class="dropdown-arrow dropdown-arrow1"></i>
						<i class="dropdown-arrow dropdown-arrow2"></i>
						<img src="../img/wx.png">
						<p>关注51卡务网微信</p>
					</div>
				</li>
				<li class="navbar-item">
					<a class="iconlink" data-hover="dropdown" href="help-help.html" target="_blank">
						<i class="iconfont icon-bulb"></i>
					</a>
					<div class="dropdown-menu dropdown-menu-help">
						<i class="dropdown-arrow dropdown-arrow1"></i>
						<i class="dropdown-arrow dropdown-arrow2"></i>
						<ul class="dropdown-menu-list fn-clear">
							<li>
								<a href="/help/help.html" target="_blank">帮助中心</a>
							</li>
							<li>
								<a href="help-aboutus.html" target="_blank">关于我们</a>
							</li>
							<li>
								<a href="help-cooperation.html">商家合作</a>
							</li>
							<li>
								<a href="help-faq.html" target="_blank">常见问题</a>
							</li>
							<li>
								<a href="help-contctus.html">联系我们</a>
							</li>
							<li>
								<a href="lipinapi.html" target="_blank">API接口</a>
							</li>
						</ul>
					</div>
				</li>
			</ul>
		</div>
	</div>
</div>