body, ul, li, dl, dd, dt, p, h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
    list-style: none;
}

.header, .nav,.banner,.section, .footer ,.banner,.section .service>img,.section .user >img,.footer-box .re-code
  {
    min-width:980px;
  }
.banner>.banner-box{
    width:100%;
    margin:0 auto;
    text-align: center;
}
.banner>.banner-box>img,.section .service>img,.section .user >img{
    width:100%;
}
.header-box,.nav-box,.banner-box{
    width:80%;
    margin: 0 auto;
}
a {
    text-decoration: none;

}
a:hover {
    text-decoration: underline;
    color: blue;
}

body, a {
    color: #484848;
    font: 14px/1.42857143 "Microsoft YaHei", Arial, Tahoma, "Hiragino Sans GB", simsun;
}
.section .container{
    width:80%;
    margin:0 auto;
    text-align: center;
}
.footer-box .re-code{
    width:80%;
    margin:0 auto;
    text-align: center;
}

