<%- include ../layout.html %>
	<div class="content help-center">
		<%- include ../includes/share.html %>
		<div class="container fn-clear">
			<%- include ../includes/helpleft.html %>
			<div class="help-main">
				<h2>注册协议</h2>
				<div class="help-cont">
					<p>用户注册协议</p>

					<p>
						“51卡务网
						<span class="text-red">（www.kawu.com）</span>
						”是由广州渔人信息技术有限公司（下称51卡务网）自建并运营的电子商务网站。51卡务网将通过本网站向您提供优质的商品及相关服务，并严格遵守本协议及相关承诺。当您通过本网站系统注册成为用户或以其它方式获得本网站所提供的商品及相关服务时，即表明您已经完全接受并签署了本协议，并同意受本协议各项条款的约束。如果您不同意本协议中的任何内容，您可以选择不使用本网站服务。
					</p>

					<h3>一．协议接受</h3>

					<p>
						1.1 您应当认真阅读本协议，对于协议中粗体字的内容和涉及重要权益的内容，您应当加以重点阅读。 如果您对本协议中的某一或某些条款产生疑问，您应当向51卡务网咨询。如果您不同意本协议中的某一或某些条款，您应当立即停止注册。
					</p>
					<p>1.2 本协议为电子形式的协议，是处理您与51卡务网一切权利义务关系的约定，对双方均具有法律约束力。</p>

					<p>
						1.3  51卡务网”网站上已经发布的或将来可能发布或更新的各类规则，是本协议不可分割的组成部分，与本协议正文具有同等法律效力。因此，当您完全接受本协议时，当然且确定的表明您也完全接受本协议的特殊条款。
					</p>

					<p>
						1.451卡务网有权根据需要不时地制订、修改本协议及/或各类规则，并以网站公示的方式进行公告，不再单独通知您。订后的协议或将来可能发布或更新的各类规则一经在网站公布后，立即自动生效。如您不同意相关修订，应当立即停止使用网站服务。您继续使用51卡务网网站服务，即表示您接受经修订的协议或规则。
					</p>

					<h3>二．用户及用户注册</h3>

					<p>2.1 未经51卡务网网站同意，禁止用户在51卡务网网站上发布任何形式的广告。</p>

					<p>
						2.2 您了解并理解，注册51卡务网的用户必须是具有完全民事行为能力的自然人，无民事行为能力、限制民事行为能力人不得注册为网站用户或超过其民事权利或行为能力范围在51卡务网进行交易，如否，51卡务网有权采取取消订单、冻结或关闭账户、拒绝提供服务等措施，给51卡务网及相关方造成损失的，用户还应承担赔偿责任。
					</p>

					<p>
						2.3 您应该根据51卡务网”网站系统的要求填写必要的注册信息和账户信息，并保证信息的合法性、真实性、及时性和有效性。注册成功后，如果您所填写的信息发生改变，您应当及时登录“51卡务网”网站变更相关内容。
					</p>

					<p>
						2.4 如果51卡务网公司发现您填写的注册信息和账户信息存在违法、不真实或无效的可能性，51卡务网公司有权删除相关信息或注销您的账户。
					</p>

					<p>
						2.5 注册成功后，您将获得“51卡务网”网站为您提供的用户名。该用户名的所有权归属于51卡务网公司，您对用户名仅具有使用权。
					</p>

					<p>2.6 您愿意接受由51卡务网公司以电子邮件、手机短信等方式发送的任何广告和其它商业信息。</p>

					<p>
						2.7您不得将在本站注册获得的账户借给他人使用，否则用户应承担由此产生的全部责任，并与实际使用人承担连带责任。如果您是在监护人参与下完成用户注册的不具备完全民事权利能力或完全民事行为能力的自然人，您及您的监护人同意为在该用户名下所发生的一切行为负责。
					</p>

					<p>
						2.8 为保证交易安全，您应当妥善保管用户名和密码，如果因为您的疏忽或管理不善，造成用户名和密码外泄、被盗等后果的，您应当自行承担由此所引发的一切损失。
					</p>

					<h3>三．商品信息</h3>

					<p>
						3.1 “51卡务网”网站上所发布的一切商品信息，包括但不限于图片、视频、文字说明，均供您决定是否订购商品，一旦您在决定订购商品后通过网站系统提交订单，即表明您向51卡务网公司发出了明确的购买该商品的意图。
					</p>

					<p>
						3.2 51卡务网公司有义务最大限度的提高商品信息的准确性、及时性、完整性和有效性。但是您认同，由于信息复杂、信息量庞大以及互联网技术问题，商品信息出现误差或错误在所难免。因此，51卡务网公司不必因此而承担法律责任。
					</p>

					<p>
						3.3 为最大限度的提高商品信息的准确性、及时性、完整性和有效性，51卡务网公司有权利对商品信息进行不间断的监测、修改或删除，您对此表示理解和支持。
					</p>

					<p>4.4 当您通过网站系统提交订单后，商品信息发生变化的，您不得以变更后的商品信息主张权利或要求51卡务网公司承担责任。</p>

					<p>3.5 因网站系统或互联网技术性问题导致商品信息发生错误的，51卡务网公司有权视情况取消订单或作其它处理。</p>

					<p>
						3.6 51卡务网公司不对商品的适用性及商品能够满足您的特定需求做任何保证。 为方便您直观的了解商品和相关服务，51卡务网公司可以以图片或视频的形式展示商品，但是您应当认同图片或视频与真实商品之间具有直观上的差异性。
					</p>

					<p>
						3.7 为方便您选购商品，51卡务网公司会在网站的相应位置公布商品价格。当您订购商品并提交订单后，您所收到的来自“51卡务网”网站的确认信息中将包含相应的商品价格信息。
					</p>

					<p>
						3.8 “51卡务网”网站中公布的商品价格不包含运费，商品对应的运费会在网站中随商品显示，运费另行收取。运费的具体结算以特殊条款的规定以及“51卡务网”网站向您公布的说明为准。
					</p>

					<p>
						3.9 51卡务网公司可以根据市场变化、市场竞争及国家政策的规定需要不时的变更商品价格。如果价格变更发生在您提交订单之前，您所订购商品的价格以变更后的价格为准。如果您提交订单后发生了价格变更，您所订购商品的价格以您提交订单时的价格为准。
					</p>

					<h3>四．订单服务</h3>

					<p>
						4.1 如果您使用“51卡务网”网站购买商品或相关服务，请务必依据系统程序填写并提交订单。当您提交订单后，网站系统将自动向您账户信息中进行确认。无论您所收到确认信息如何描述，该确认信息仅表示“51卡务网”网站已经收到您的订单要约。
					</p>

					<p>
						4.2 51卡务网公司特别提醒您，请在购买商品或相关服务之前，务必认真了解有关商品的所有信息。在订单提交成功之后，您不得以不了解商品的相关信息而主张撤销订单。
					</p>

					<p>
						4.3 当您使用“51卡务网”网站购买商品或相关服务时，请务必依据本协议及系统程序进行操作。您不得以不了解本协议及系统程序为由主张订单无效或可撤销。
					</p>

					<p>
						4.4 “51卡务网”网站收到您的订单后，将会及时审核订单，同时按照国家电子商务相关规则和要求代理用户将其订单信息、支付信息和配送信息等电子数据信息反馈给51卡务网审查 。您必须承诺所购买商品系个人合理自用，保证所提供的身份信息和收货信息真实完整，无侵犯他人权益的行为，并愿意接受监管部门的监管，并承担相应法律责任。
					</p>

					<p>
						4.5经51卡务网审核无误，51卡务网将安排商品配送。如果51卡务网认为订单存在疑问，无论您是否已经支付价款，51卡务网公司均有权取消订单，或通过邮件、电话等沟通渠道要求您变更订单。
					</p>

					<p>4.6 提交订单后，51卡务网公司发现由于人工操作失误或技术问题导致定价错误，您同意按如下方式处理：</p>

					<p>
						（1）如果您所订购商品的正确价格（以“51卡务网”网站对相应商品价格的再次公布为准，下同）低于错误定价，51卡务网公司有义务按较低价格收取您的付款。
					</p>

					<p>
						（2）如果您所订购商品的正确价格高于错误定价，51卡务网公司将会与您沟通，并根据实际情况作出取消订单或停止配送的处理，此时，您也有权取消订单。
					</p>

					<p>
						（3）如果订购商品的价格不符合相关约定导致订单审核不通过，51卡务网公司将会与您沟通，并根据实际情况作出取消订单或停止配送的处理，此时，您也有权取消订单
					</p>

					<p>
						4.7 因市场存在难以控制的商业因素，您订购或拟订购的商品有可能存在缺货现象，如果缺货，51卡务网公司将无法配送，此时，您有权取消订单。
					</p>
					<p>
						4.8 如果“51卡务网”网站推出预订商品，您可以根据网站的相关预订规则提交订单。51卡务网公司可以根据实际情况决定是否接受订单，如果接受订单，51卡务网公司将按照预订规则和您的合理要求向您配送商品。
					</p>

					<p>4.9 51卡务网公司根据本协议的规定拒绝、取消或不接受订单的，您同意自行承担一切责任，但是有特别规定的除外。</p>

					<p>4.10 您授权51卡务网在网站上公布的物流方式进行物流配送服务。</p>

					<p>
						4.11 51卡务网公司根据您提供的收货人信息及您在备注信息栏中填写的合理信息安排商品配送。如果收货人不是您本人，收货人的行为即为您本人的行为，收货人与您应当承担连带责任。
					</p>

					<p>
						4.12 订单生成后，您通过与51卡务网公司的沟通变更了收货人信息或备注信息的，实际配送服务将依据您变更后的信息作出安排。
					</p>

					<p>4.13 51卡务网公司的配送时效均为一般配送时间，该时间仅作为您订购商品的参考因素。</p>

					<p>4.14 发生下列情形之一的，51卡务网公司不承担迟延送达的违约责任：</p>
					<p>（1）发生不可抗力或情势变更事件的；</p>
					<p>（2）因您提供的信息有误、过时、缺失，或根据您提供的信息无法判断收货人或收货地址的；</p>
					<p>（3）因网络故障、系统故障、系统检修、维护或升级导致迟延送达的；</p>
					<p>（4）因路途遥远且交通不便造成迟延送达的；</p>
					<p>（5）为满足您的配送要求及特殊需要而迟延送达的。</p>

					<h3>五．用户依法言行义务</h3>

					<p>
						5.1 51卡务网公司欢迎并鼓励您在网站系统上进行商品评论、文章评论、公布订单、发布图片或视频等言论行为。但是，在“51卡务网”网站上所进行的一切言论行为均属于您的个人行为，与51卡务网公司无关。
					</p>

					<p>
						5.2 为保障网络信息安全，您在进行言论行为时，应当遵守国家相关法律法规的规定，不得制作、复制、发布、传播含有下列内容的信息：
					</p>
					<p>（1）违反宪法所确定的基本原则的；</p>
					<p>（2）危害国家安全，泄露国家秘密，颠覆国家政权，破坏国家统一的；</p>
					<p>（3）损害国家荣誉和利益的；</p>
					<p>（4）煽动民族仇恨、民族歧视，破坏民族团结的；</p>
					<p>（5）破坏国家宗教政策，宣扬邪教和封建迷信的；</p>
					<p>（6）散布谣言，扰乱社会秩序，破坏社会稳定的；</p>
					<p>（7）散布淫秽、色情、赌博、暴力、凶杀、恐怖或者教唆犯罪的；</p>
					<p>（8）侮辱或者诽谤他人，侵害他人合法权益的；</p>
					<p>（9）含有法律、行政法规禁止的其他内容的。</p>
					<p>5.3 您保证自己在网站系统上所进行的一切言论行为均不侵犯51卡务网公司的合法权益。</p>
					<p>
						5.4 您保证自己在网站系统上所进行的一切言论行为均不侵犯任何第三人的合法权益。如果因您的言论行为引起法律纠纷，您应当积极协助51卡务网公司处理。第三人向51卡务网公司索赔的，51卡务网公司有权在实际赔偿之后，向您追偿。
					</p>
					<p>5.5 您承诺自己在网站系统上制作、复制、发布、传播的一切评论、图片和视频不损害51卡务网公司的商业信誉。</p>
					<p>
						5.6 51卡务网认为您违反相关评论规则的，其有权删除相关评论、图片或视频，冻结或注销您的账户，并保留追究您法律责任的权利。
					</p>

					<h3>六．隐私保护</h3>
					<p>6.1 51卡务网保证不对外公开或向任何第三方透露您的注册信息、账户信息和交易信息，但是存在下列情形之一的除外：</p>

					<p>（1）公开或透露相关信息之前获得您许可的；</p>
					<p>（2）根据法律或政策的规定而公开或透露的；</p>
					<p>（3）为向您提供商品或服务而需要公开或透露的；</p>
					<p>（4）51卡务网公司为保护自身利益而公开的；</p>
					<p>（5）根据本协议其它约定而公开或透露的。</p>
					<p>
						6.2 为了向您提供优质的服务，您同意51卡务网将您的注册信息、账户信息和交易信息提供给51卡务网的关联公司以及与51卡务网合作的第三方。
					</p>

					<p>
						6.3 51卡务网公司根据本协议的规定对网站或相应的系统进行检修、维护或升级时，有可能丢失、损坏或泄漏您的注册信息、账户信息或交易信息，您对此表示理解，且不要求51卡务网公司承担责任。
					</p>

					<p>6.4 为保证交易安全以及保障您的合法权益，51卡务网建议您对注册信息、账户信息和交易信息进行数据备份。</p>

					<h3>七、 责任限制与不可抗力</h3>

					<p>
						7.1 在法律法规所允许的限度内，因使用“51卡务网”网站服务而引起的任何损害或经济损失，51卡务网承担的全部责任均不超过就用户所购买的与该索赔有关的商品所实际获得的直接收益。这些责任限制条款将在法律所允许的最大限度内适用，并在用户账户被注销后仍继续有效。
					</p>

					<p>
						7.2 “51卡务网”网站仅限在“按现状”和“按现有”的基础上，向用户提供全部的信息、内容、材料、产品（包括软件）和服务。除非另有明确的书面说明，“51卡务网”网站不对其包含在网站上的信息、内容、材料、产品（包括软件）或服务作任何形式的、明示或默示的担保。
					</p>

					<p>
						7.3 不论在任何情况下，“51卡务网”网站均不对由于互联网设备正常维护，互联网络连接故障，电脑、通讯或其他系统的故障，电力故障，罢工，暴乱，骚乱，灾难性天气（如火灾、洪水、风暴等），爆炸，战争，政府行为，司法行政机关的命令或第三方的不作为而造成的不能履行或延迟履行承担责任。
					</p>

					<h3>八、用户消费卡、电子卡、预付卡交易服务协议协议：</h3>

					<p>
						欢迎阅读消费卡、电子卡、预付卡交易服务协议（简称“礼品卡”），如您需要使用本网站所提供的礼品卡交易服务，您需遵守以下内容：
					</p>
					<p>
						1、51卡务网工作人员不会向卖家索取任何礼品卡资料，如果卖家泄露任何关于礼品卡的信息，51卡务网概不负责也不承担任何法律责任。
					</p>
					<p>2、礼品卡交易过程中，卖家账号因自身原因礼品卡被盗取或封存导致不能审核的责任由卖家承担，并且将直接撤单。</p>
					<p>3、礼品卡交易过程中，卖家若有重复发布同一卡号或故意发布错误信息的，我们会取消交易，并有权冻结用户账户信息。</p>
					<p>
						4、礼品卡交易过程中，如果卖家私下将礼品卡信息交易给买家，并再次出售给本网站，如若出现，造成的损失由卖家承担，51卡务网并有权冻结用户账户信息处罚卖家。
					</p>
					<p>
						5、礼品卡交易在未给卖家打款期间出现问题的话，卖家应积极配合解决问题，根据要求我们将延迟打款，如果问题没有解决我们将按责任轻重来加以处理
					</p>

					<h3>九、51卡务网交易免责声明：</h3>

					<p>
						51卡务网提醒您：在使用51卡务网之前，请您务必仔细阅读并透彻理解本声明。您可以选择不使用51卡务网，如果您选择使用，您的使用行为将被视为对本声明全部内容的认可。
					</p>

					<p>
						51卡务网对本网站上所有内容包括但不限于网站运营或本网站上的信息、内容、材料或产品，不提供明示或暗示的担保。由所适用法律许可，51卡务网否认所有明示或暗示的担保，包括但不限于为特定目的做的商务暗示担保。
					</p>
					<p>
						本网站不希望出现任何因交易而与用户之间产生纠纷，但并不保证不发生该类纠纷。对于因前述各类情形而产生的任何纠纷，将由交易方依据中华人民共和国现行的有关法律通过适当的方式直接加以解决，本网站及其所有者不参与其中；对于因此类交易而产生的各类纠纷之任何责任和后果，由交易方承担，本网站及其所有者不承担任何责任及后果。如果任何单位或者个人通过上述“信息”而进行任何交易或者进行其他行为，须得知网络交易、网上行为的风险性，进行交易或行为的事前辨别和采取谨慎的预防措施，51卡务网对任何损失或任何由于使用本网站而引起的损失，包括但不限于直接的，间接的，偶然的、惩罚性的和引发的损失，不承担责任。
					</p>

					<p>
						除与51卡务网有另行书面约定的服务外，您应该对使用51卡务网的结果自行承担风险，一切因使用51卡务网而可能遭致的意外、侵权及其他损失（包括下载被搜索链接到的第三方网页中的内容被感染电脑病毒等），因网络状况、通讯线路、电力故障、第三方网站等任何原因而导致您不能正常使用51卡务网，51卡务网对其概不负责，亦不承担任何法律责任。
					</p>

					<p>
						51卡务网审核只是针对卖家提供信息进行审核，特别是虚拟商品来源我们无法审核，自审核完毕发送给买家后，即已完成（如若遇到盗刷卡、黑卡等任何非法形式获得的卡类，51卡务网有权冻结该账户并将用户信息提交给相关部门。）本网站不对商品来源负责，亦不承担任何法律责任。
					</p>

					<p>凡通过51卡务网站购买或出售虚拟交易商品，即表示接受并遵守以上内容。</p>
					<p>本服务协议双方为本网站与使用本网站账号交易服务用户。</p>
					<p>若因违反此协议内容所造成的损失由违约人承担全部责任，并赔偿购买人的损失（违约金等）。</p>

					<h3>十．协议终止</h3>

					<p>10.1 51卡务网有权经通知后终止本协议，您有权请求51卡务网公司作出终止本协议的决定。</p>

					<p>10.2 发生下列情形之一的，51卡务网公司有权立即终止协议：</p>
					<p>（1）本协议发生变更后，您明确通知51卡务网公司不愿意接受新协议或变更内容的；</p>
					<p>（2）51卡务网公司发现您恶意注册用户，扰乱正常经营秩序的；</p>
					<p>（3）51卡务网公司发现您对订单多次恶意拒收，扰乱正常经营秩序的；</p>
					<p>（4）您注册账户后，连续12个月不使用该账户的；</p>
					<p>（5）您通过本网站进行违法犯罪活动的。</p>
					<p>10.3 协议终止后，您在“51卡务网”网站上的积分、优惠券和礼品卡均失效，51卡务网公司不予兑现。</p>
					<p>10.4 协议终止后，您同意51卡务网公司在2年内继续保留您的注册信息、账户信息以及交易记录。</p>
					<p>10.5 协议终止后，51卡务网公司有权向他人开放您所注册使用的用户名。</p>
					<p>10.6 如果您在协议终止之前存在违反本协议的行为，51卡务网公司有权依据本协议追究您的法律责任。</p>

					<h3>十一．适用的法律和管辖权</h3>

					<p>
						11.1 本协议的签订、履行和执行及解释均适用中华人民共和国法律法规。如果中华人民共和国法律法规没有相关规定，则适用中华人民共和国的商业惯例。
					</p>

					<p>
						11.2 如果本协议的相关规定违反中华人民共和国法律法规的相应条款，则适用中华人民共和国法律法规。如果本协议的相关规定违反中华人民共和国的相关商业惯例，则仍然以本协议为准。
					</p>

					<h3>十二．知识产权</h3>

					<p>
						12.1 除您及其它用户向“51卡务网”网站所发布的评论、订单、图片或视频之外，51卡务网公司对“51卡务网”网站及网站上所显示的其它所有信息资料，包括但不限于商标、软件系统、宣传图案、商品图片、商品信息、视频资料和文字信息，享有绝对的、完全的知识产权。
					</p>

					<p>12.2 未经51卡务网公司同意，您不得以任何方式修改、复制和传播51卡务网公司享有知识产权的信息资料。</p>

					<p>
						12.3 对于您在“51卡务网”网站上所发布的一切信息资料，您同意授予51卡务网公司独家的、永久的、免费的许可使用权利。您确认，51卡务网公司对您所发布的信息资料的使用是基于您对信息资料内容的合法性、真实性的承诺之上，51卡务网公司因使用该信息资料而遭受索赔、指控的，您应当承担全部责任。
					</p>

					<h3>十三．纠纷解决</h3>

					<p>
						13.1 因本协议发生的任何争议，51卡务网公司与您应当友好协商，协商不成的，任何一方均有权向51卡务网公司住所所在地有管辖权的人民法院起诉，其它任何法院均不具有管辖权。
					</p>
				</div>
			</div>
		</div>
	</div>
<%- include ../includes/footer.html %>