<%- include ../layout.html %>
    <div class="content help-center">
        <%- include ../includes/share.html %>
        <div class="container fn-clear">
            <%- include ../includes/helpleft.html %>
            <div class="help-main">
                <h2>联系我们</h2>
                <div class="help-cont">
                    <p>
                        客服热线：400-632-3760
                        <br>客服邮箱：kf@lipin.com</p>
                    <p>
                        产品招商合作：（请发合作资料至邮箱，将有专人跟进）
                        <br>Email：zs@lipin.com</p>
                    <p>
                        线上营销合作：
                        <br>Email：hz@lipin.com</p>
                    <p>
                        公司地址：广州市天河区广棠西路13号整栋（部位15）
                        <br></p>
                </div>
            </div>
        </div>
    </div>
<%- include ../includes/footer.html %>