<%- include ../layout.html %>
    <div class="content help-center">
        <%- include ../includes/share.html %>
        <div class="container fn-clear">
            <%- include ../includes/helpleft.html %>
            <div class="help-main">
                <h2>免责声明</h2>
                <div class="help-cont">
                    <p>
                        51卡务网提醒您：在使用51卡务网之前，请您务必仔细阅读并透彻理解本声明。您可以选择不使用51卡务网，如果您选择使用，您的使用行为将被视为对本声明全部内容的认可。
                    </p>
                    <p>
                        51卡务网对本网站上所有内容包括但不限于网站运营或本网站上的信息、内容、材料或产品，不提供明示或暗示的担保。由所适用法律许可，51卡务网否认所有明示或暗示的担保，包括但不限于为特定目的做的商务暗示担保。
                    </p>
                    <p>
                        本网站不希望出现任何因交易而与用户之间产生纠纷，但并不保证不发生该类纠纷。对于因前述各类情形而产生的任何纠纷，将由交易方依据中华人民共和国现行的有关法律通过适当的方式直接加以解决，本网站及其所有者不参与其中；对于因此类交易而产生的各类纠纷之任何责任和后果，由交易方承担，本网站及其所有者不承担任何责任及后果。如果任何单位或者个人通过上述“信息”而进行任何交易或者进行其他行为，须得知网络交易、网上行为的风险性，进行交易或行为的事前辨别和采取谨慎的预防措施，51卡务网对任何损失或任何由于使用本网站而引起的损失，包括但不限于直接的，间接的，偶然的、惩罚性的和引发的损失，不承担责任。
                    </p>
                    <p>
                        除与51卡务网有另行书面约定的服务外，您应该对使用51卡务网的结果自行承担风险，一切因使用51卡务网而可能遭致的意外、侵权及其他损失（包括下载被搜索链接到的第三方网页中的内容被感染电脑病毒等），因网络状况、通讯线路、电力故障、第三方网站等任何原因而导致您不能正常使用51卡务网，51卡务网对其概不负责，亦不承担任何法律责任。
                    </p>
                    <p>
                        51卡务网审核只是针对卖家提供信息进行审核，特别是虚拟商品来源我们无法审核，自审核完毕发送给买家后，即已完成（如若遇到盗刷卡、黑卡等任何非法形式获得的卡类，51卡务网有权冻结该账户并将用户信息提交给相关部门。）本网站不对商品来源负责，亦不承担任何法律责任。
                    </p>
                    <p>凡通过51卡务网站购买或出售虚拟交易商品，即表示接受并遵守以上内容。</p>
                    <p>本服务协议双方为本网站与使用本网站账号交易服务用户。</p>
                    <p>若因违反此协议内容所造成的损失由违约人承担全部责任，并赔偿购买人的损失（违约金等）。</p>
                    <h2>交易服务协议</h2>
                    欢迎阅读消费卡、电子卡、预付卡交易服务协议（简称“礼品卡”），如您需要使用本网站所提供的礼品卡交易服务，您需遵守以下内容：
                    <p>
                        1、51卡务网工作人员不会向卖家索取任何礼品卡资料，如果卖家泄露任何关于礼品卡的信息，51卡务网概不负责也不承担任何法律责任。
                    </p>
                    <p>2、礼品卡交易过程中，卖家账号因自身原因礼品卡被盗取或封存导致不能审核的责任由卖家承担，并且将直接撤单。</p>
                    <p>3、礼品卡交易过程中，卖家若有重复发布同一卡号或故意发布错误信息的，我们会取消交易，并有权冻结用户账户信息。</p>
                    <p>
                        4、礼品卡交易过程中，如果卖家私下将礼品卡信息交易给买家，并再次出售给本网站，如若出现，造成的损失由卖家承担，51卡务网并有权冻结用户账户信息处罚卖家。
                    </p>
                    <p>
                        5、礼品卡交易在未给卖家打款期间出现问题的话，卖家应积极配合解决问题，根据要求我们将延迟打款，如果问题没有解决我们将按责任轻重来加以处理。
                    </p>
                    <p>凡通过51卡务网站购买或出售虚拟交易商品，即表示接受并遵守以上内容。</p>
                    <p>本服务协议双方为本网站与使用本网站账号交易服务用户。</p>
                    <p>若因违反此协议内容所造成的损失由违约人承担全部责任，并赔偿购买人的损失（违约金等）。</p>
                </div>
            </div>
        </div>
    </div>
<%- include ../includes/footer.html %>