<%- include ../layout.html %>
	<div class="content help-center">
		<%- include ../includes/share.html %>
		<div class="container fn-clear">
			<%- include ../includes/helpleft.html %>
			<div class="help-main">
				<h2>交易方式</h2>
				<div class="help-cont">
					<h3>全国交易方式</h3>
					<p>不管您身处在哪里，都可以在本站提交本站所支持的二手卡信息进行回收；</p>
					<h3>当面交易方式</h3>
					<p>为了方便您的二手卡回收，我们特意推出新的交易方式：当面交易</p>
					<p>
						您可以到我们提供的地址，通过我们的客服电话（ <strong class="text-red">400-6093-365</strong>
						）联系客服当面交易
					</p>
					<p>
						目前当面交易仅支持： <strong>北京市,天津市</strong>
					</p>
					<p class="text-blue">北京当面交易地址：北京市海淀区苏州街20号银丰大厦京东服务中心NO.001（北京地铁10号线苏州街站）</p>
					<p class="text-success">天津当面交易地址：天津市南开区榕苑路15号鑫茂科技国家级孵化器大厦（天津地铁3号线华苑站）</p>
				</div>
			</div>
		</div>
	</div>
<%- include ../includes/footer.html %>