<%- include ../layout.html %>
	<div class="content help-center">
		<%- include ../includes/share.html %>
		<div class="container fn-clear">
			<%- include ../includes/helpleft.html %>
			<div class="help-main">
				<h2>交易方式</h2>
				<div class="help-cont">
					<h3>全国交易方式</h3>
					<p>不管您身处在哪里，都可以在本站提交本站所支持的二手卡信息进行回收；</p>
					<h3>当面交易方式</h3>
					<p>为了方便您的二手卡回收，我们特意推出新的交易方式：当面交易</p>
					<p>
						您可以到我们提供的地址，通过我们的客服电话（ <strong class="text-red">400-632-3760</strong>
						）联系客服当面交易
					</p>
					<p>
						目前当面交易仅支持： <strong>广州市、深圳市和北京市</strong>
					</p>
					<p class="text-blue">广州市当面交易地址：广州市番禺区洛溪新城吉祥北园D区南一街9幢</p>
					<p class="text-success">深圳市当面交易地址：深圳市宝安区石岩街道塘头松白路鸿福</p>
					<p class="text-red">北京市当面交易地址：北京市丰台区大红门街道苗圃东里</p>
				</div>
			</div>
		</div>
	</div>
<%- include ../includes/footer.html %>