<%- include ../layout.html %>
	<meta property="qc:admins" content="15623277776410166375">
	<script src="/js/unslider.min.js"></script>
	<style type="text/css">
		.banner .dots {
			position: absolute;
			left: 0;
			right: 0;
			bottom: 20px;
		}
		.banner .dots li {
			display: inline-block;
			width: 10px;
			height: 10px;
			margin: 0 4px;

			text-indent: -999em;

			border: 2px solid #fff;
			border-radius: 6px;

			cursor: pointer;
			opacity: .4;

			-webkit-transition: background .5s, opacity .5s;
			-moz-transition: background .5s, opacity .5s;
			transition: background .5s, opacity .5s;
		}
		.banner .dots li.active {
			background: #fff;
			opacity: 1;
		}

	</style>
	<div class="banner has-dots" style="min-height: 415px">
		<ul>
			<li style="width: 25%;background-size: 100% 100%;">
				<div class="container masthead-jumbotron png">
					<h2>51卡务网</h2>
					<h3>我们是专业的二手礼品卡回收网站</h3>
					<h4>您可以将手中置闲的电商卡、旅游卡、游戏卡、话费卡、加油卡、商超卡轻松变现</h4>
				</div>
			</li>

			<li style="width: 25%; background-size: 100% 100%;">
				<div class="container masthead-jumbotron png">
					<h2>51卡务网</h2>
					<h3>我们是专业的二手礼品卡回收网站</h3>
					<h4>您可以将手中置闲的电商卡、旅游卡、游戏卡、话费卡、加油卡、商超卡轻松变现</h4>
				</div>
			</li>

			<li style="width: 25%; background-size: 100% 100%;">
				<div class="container masthead-jumbotron png">
					<h2>51卡务网</h2>
					<h3>我们是专业的二手礼品卡回收网站</h3>
					<h4>您可以将手中置闲的电商卡、旅游卡、游戏卡、话费卡、加油卡、商超卡轻松变现</h4>
				</div>
			</li>

			<li style="width: 25%; background-size: 100% 100%;">
				<div class="container masthead-jumbotron png">
					<h2>51卡务网</h2>
					<h3>我们是专业的二手礼品卡回收网站</h3>
					<h4>您可以将手中置闲的电商卡、旅游卡、游戏卡、话费卡、加油卡、商超卡轻松变现</h4>
				</div>
			</li>
		</ul>
	</div>

	<div class="content">
		<div class="masthead">
			<!-- <div class="container masthead-jumbotron png">
				<h2>51卡务网</h2>
				<h3>我们是专业的二手礼品卡回收网站</h3>
				<h4>您可以将手中置闲的电商卡、旅游卡、游戏卡、话费卡、加油卡、商超卡轻松变现</h4>
			</div> -->
			<div class="container masthead-feature png">
				<ul class="feature-group clearfix">
					<li>
						<div class="iconimg iconimg-types png"></div>
						<h5>卡类多样</h5>
						<p>
							支持电商/游戏/话费
							<br>旅游/商超/加油卡等</p>
					</li>
					<li>
						<div class="iconimg iconimg-heart png"></div>
						<h5>用心服务</h5>
						<p>
							一对一的用心服务
							<br>每一笔交易都让您放心</p>
					</li>
					<li>
						<div class="iconimg iconimg-safe png"></div>
						<h5>交易安全</h5>
						<p>
							依靠人工处理
							<br>品牌保证，安全放心</p>
					</li>
					<li>
						<div class="iconimg iconimg-fast png"></div>
						<h5>处理快捷</h5>
						<p>
							快捷处理，
							<br>减少您的等待时间</p>
					</li>
					<li>
						<div class="iconimg iconimg-price png"></div>
						<h5>价格公道</h5>
						<p>
							价格公道
							<br>让您满意</p>
					</li>
				</ul>
			</div>
		</div>
		<div class="cardtype-panel py80">
			<div class="container">
				<div class="cards-caption">
					<h2>最全卡券回收业务</h2>
					<p>没有最多，只有更多，包含互联网、线下绝大部分卡券</p>
				</div>
				<ul class="cardtype-group clearfix">
					<li>
						<a class="icon icon-b2cs" href="b2c.html">
							<i class="iconfont"></i>
						</a>
						<h5>
							<a href="b2c.html">电商卡回收</a>
						</h5>
						<p>
							覆盖当前国内绝大部分电商网站的礼品卡；
							<br>主要包括：京东e卡、苏宁易购礼品卡、一号店礼品卡、亚马逊礼品卡等等..</p>
					</li>
					<li>
						<a class="icon icon-trip" href="trip.html">
							<i class="iconfont"></i>
						</a>
						<h5>
							<a href="trip.html">旅游卡回收</a>
						</h5>
						<p>
							旅游卡回收指我们回收在线旅游网站的礼品卡；
							<br>主要包括：携程任我行、驴妈妈礼品卡、同城旅游卡、去哪儿礼品卡..</p>
					</li>
					<li>
						<a class="icon icon-mart" href="mart.html">
							<i class="iconfont"></i>
						</a>
						<h5>
							<a href="mart.html">商超卡回收</a>
						</h5>
						<p>
							北京、上海等大型城市线下商场超市购物预付卡；
							<br>主要包括：中欣卡(易付卡)、联华ok卡、万商卡、万能消费卡、商盟卡等等..</p>
					</li>
					<li>
						<a class="icon icon-games" href="games.html">
							<i class="iconfont"></i>
						</a>
						<h5>
							<a href="games.html">游戏卡回收</a>
						</h5>
						<p>
							游戏卡是指游戏公司发布的通用型线上预付卡；
							<br>主要包括：骏网一卡通、盛大一卡通、网易一卡通、完美一卡通等等..</p>
					</li>
					<li>
						<a class="icon icon-costs" href="costs.html">
							<i class="iconfont"></i>
						</a>
						<h5>
							<a href="costs.html">话费卡回收</a>
						</h5>
						<p>
							三大移动通讯商的话费充值卡；
							<br>主要包括：中国移动神州行卡、联通卡、电信卡..</p>
					</li>
					<li>
						<a class="icon icon-oils" href="oils.html">
							<i class="iconfont"></i>
						</a>
						<h5>
							<a href="oils.html">加油卡回收</a>
						</h5>
						<p>包括中国石化加油卡..</p>
					</li>
				</ul>
			</div>
		</div>
		<div class="howto py80">
			<div class="container">
				<ul class="howto-group clearfix">
					<li>
						<a href="list-desciption.html">
							<span class="iconimg iconimg-desc png"></span>
						</a>
						<h5>
							<a href="list-desciption.html">卡券介绍说明</a>
						</h5>
						<p>
							最全的卡券说明
							<br>让您对每每种卡都了解</p>
					</li>
					<li>
						<a href="list-getting.html">
							<span class="iconimg iconimg-get png"></span>
						</a>
						<h5>
							<a href="list-getting.html">卡券购买获取方式</a>
						</h5>
						<p>
							如何购买卡卡券
							<br>如何免费获取卡券</p>
					</li>
					<li>
						<a href="list-amount.html">
							<span class="iconimg iconimg-chek png"></span>
						</a>
						<h5>
							<a href="list-amount.html">卡券余额查询</a>
						</h5>
						<p>
							每种卡券的查询方式
							<br>都有所不同</p>
					</li>
					<li>
						<a href="list-binding.html">
							<span class="iconimg iconimg-help png"></span>
						</a>
						<h5>
							<a href="list-binding.html">卡券使用帮助</a>
						</h5>
						<p>
							每种卡券的使用方法
							<br>购买商品或者二手回收</p>
					</li>
				</ul>
			</div>
		</div>
		<div class="cards py80">
			<div class="container">
				<div class="cards-caption">
					<h2>单卡回收业务专题</h2>
					<p>最全的二手卡券回收，总有一种是您所拥有的</p>
				</div>
				<div class="cards-tabs">
					<ul>
						<li id="card1" onmouseover="setTab(&#39;card&#39;, 1, 6);" class="active">
							<a href="javascript:;">电商卡</a>
						</li>
						<li id="card2" onmouseover="setTab(&#39;card&#39;, 2, 6);">
							<a href="javascript:;">游戏卡</a>
						</li>
						<li id="card3" onmouseover="setTab(&#39;card&#39;, 3, 6);">
							<a href="javascript:;">旅游出行卡</a>
						</li>
						<li id="card4" onmouseover="setTab(&#39;card&#39;, 4, 6);">
							<a href="javascript:;">话费充值卡</a>
						</li>
						<li id="card5" onmouseover="setTab(&#39;card&#39;, 5, 6);">
							<a href="javascript:;">商超卡</a>
						</li>
						<li id="card6" onmouseover="setTab(&#39;card&#39;, 6, 6);">
							<a href="javascript:;">加油卡</a>
						</li>
					</ul>
				</div>
				<div class="cards-body">
					<div id="con_card_1" class="cards-item">
						<ul class="cards-group clearfix">
							<li>
								<a href="jingdongeka.html" target="_blank" tip="京东E卡回收">
									<img src="./img/2.jpg" alt="京东E卡卡回收">
									<span class="title">京东E卡回收</span>
									<span class="go">我有卡要回收</span>
								</a>
							</li>
							<li>
								<a href="tianmaodianquan.html" target="_blank" tip="天猫商城点券回收">
									<img src="./img/3.jpg" alt="天猫商城点券卡回收">
									<span class="title">天猫商城点券回收</span>
									<span class="go">我有卡要回收</span>
								</a>
							</li>
							<li>
								<a href="suninglipinka.html" target="_blank" tip="苏宁易购礼品卡回收">
									<img src="./img/4.jpg" alt="苏宁易购礼品卡卡回收">
									<span class="title">苏宁易购礼品卡回收</span>
									<span class="go">我有卡要回收</span>
								</a>
							</li>
							<li>
								<a href="yihaodianlipinka.html" target="_blank" tip="一号店礼品卡回收">
									<img src="./img/5.jpg" alt="一号店礼品卡卡回收">
									<span class="title">一号店礼品卡回收</span>
									<span class="go">我有卡要回收</span>
								</a>
							</li>
							<li>
								<a href="yamaxunlipinka.html" target="_blank" tip="亚马逊礼品卡回收">
									<img src="./img/6.jpg" alt="亚马逊礼品卡卡回收">
									<span class="title">亚马逊礼品卡回收</span>
									<span class="go">我有卡要回收</span>
								</a>
							</li>
							<li>
								<a href="womaiwanglipinka.html" target="_blank" tip="中粮我买网礼品卡回收">
									<img src="./img/7.jpg" alt="中粮我买网礼品卡卡回收">
									<span class="title">中粮我买网礼品卡回收</span>
									<span class="go">我有卡要回收</span>
								</a>
							</li>
							<li>
								<a href="dangdanglipinka.html" target="_blank" tip="当当礼品卡回收">
									<img src="./img/8.jpg" alt="当当礼品卡卡回收">
									<span class="title">当当礼品卡回收</span>
									<span class="go">我有卡要回收</span>
								</a>
							</li>
							<li>
								<a href="guomeihongquan.html" target="_blank" tip="国美红券回收">
									<img src="./img/9.jpg" alt="国美红券卡回收">
									<span class="title">国美红券回收</span>
									<span class="go">我有卡要回收</span>
								</a>
							</li>
							<li>
								<a href="wuxingdianqilipinka.html" target="_blank" tip="5星电器礼品卡回收">
									<img src="./img/11.jpg" alt="5星电器礼品卡卡回收">
									<span class="title">5星电器礼品卡回收</span>
									<span class="go">我有卡要回收</span>
								</a>
							</li>
							<li>
								<a href="xindanwanglipinka.html" target="_blank" tip="新蛋网礼品卡回收">
									<img src="./img/12.jpg" alt="新蛋网礼品卡卡回收">
									<span class="title">新蛋网礼品卡回收</span>
									<span class="go">我有卡要回收</span>
								</a>
							</li>
							<li>
								<a href="yixunwanglipinka.html" target="_blank" tip="易迅网礼品卡回收">
									<img src="./img/13.jpg" alt="易迅网礼品卡卡回收">
									<span class="title">易迅网礼品卡回收</span>
									<span class="go">我有卡要回收</span>
								</a>
							</li>
							<li>
								<a href="weipinhuilipinka.html" target="_blank" tip="唯品会礼品卡(唯品卡)回收">
									<img src="./img/14.jpg" alt="唯品会礼品卡(唯品卡)卡回收">
									<span class="title">唯品会礼品卡(唯品卡)回收</span>
									<span class="go">我有卡要回收</span>
								</a>
							</li>
							<li>
								<a href="nuomilipinka.html" target="_blank" tip="糯米礼品卡回收">
									<img src="./img/32.jpg" alt="糯米礼品卡卡回收">
									<span class="title">糯米礼品卡回收</span>
									<span class="go">我有卡要回收</span>
								</a>
							</li>
							<li>
								<a href="meituanlipinka.html" target="_blank" tip="美团礼品卡回收">
									<img src="./img/33.jpg" alt="美团礼品卡卡回收">
									<span class="title">美团礼品卡回收</span>
									<span class="go">我有卡要回收</span>
								</a>
							</li>
							<li>
								<a href="shunfengyouxuanlipinka.html" target="_blank" tip="顺丰优选礼品卡回收">
									<img src="./img/34.jpg" alt="顺丰优选礼品卡卡回收">
									<span class="title">顺丰优选礼品卡回收</span>
									<span class="go">我有卡要回收</span>
								</a>
							</li>
							<li>
								<a href="fufeitongka.html" target="_blank" tip="付费通回收">
									<img src="./img/36.jpg" alt="付费通卡回收">
									<span class="title">付费通回收</span>
									<span class="go">我有卡要回收</span>
								</a>
							</li>
							<li>
								<a href="deshika.html" target="_blank" tip="得仕卡回收">
									<img src="./img/37.jpg" alt="得仕卡卡回收">
									<span class="title">得仕卡回收</span>
									<span class="go">我有卡要回收</span>
								</a>
							</li>
							<li>
								<a href="bianlitongka.html" target="_blank" tip="便利通卡回收">
									<img src="./img/38.jpg" alt="便利通卡卡回收">
									<span class="title">便利通卡回收</span>
									<span class="go">我有卡要回收</span>
								</a>
							</li>
							<li>
								<a href="1kahui.html" target="_blank" tip="壹卡会回收">
									<img src="./img/39.jpg" alt="壹卡会卡回收">
									<span class="title">壹卡会回收</span>
									<span class="go">我有卡要回收</span>
								</a>
							</li>
							<li>
								<a href="wanlitongjifenka.html" target="_blank" tip="万里通积分卡回收">
									<img src="./img/40.jpg" alt="万里通积分卡卡回收">
									<span class="title">万里通积分卡回收</span>
									<span class="go">我有卡要回收</span>
								</a>
							</li>
							<li>
								<a href="1qianbao.html" target="_blank" tip="壹钱包回收">
									<img src="./img/41.jpg" alt="壹钱包卡回收">
									<span class="title">壹钱包回收</span>
									<span class="go">我有卡要回收</span>
								</a>
							</li>
						</ul>
					</div>
					<div id="con_card_2" class="cards-item hide">
						<ul class="cards-group clearfix">
							<li>
								<a href="junka.html" target="_blank" tip="骏网一卡通(骏卡)回收">
									<img src="./img/16.jpg" alt="骏网一卡通(骏卡)回收">
									<span class="title">骏网一卡通(骏卡)回收</span>
									<span class="go">我有卡要回收</span>
								</a>
							</li>
							<li>
								<a href="shengdayikatong.html" target="_blank" tip="盛大一卡通回收">
									<img src="./img/20.jpg" alt="盛大一卡通回收">
									<span class="title">盛大一卡通回收</span>
									<span class="go">我有卡要回收</span>
								</a>
							</li>
							<li>
								<a href="wangyiyikatong.html" target="_blank" tip="网易一卡通回收">
									<img src="./img/21.jpg" alt="网易一卡通回收">
									<span class="title">网易一卡通回收</span>
									<span class="go">我有卡要回收</span>
								</a>
							</li>
							<li>
								<a href="wanmeiyikatong.html" target="_blank" tip="完美一卡通回收">
									<img src="./img/22.jpg" alt="完美一卡通回收">
									<span class="title">完美一卡通回收</span>
									<span class="go">我有卡要回收</span>
								</a>
							</li>
							<li>
								<a href="9youyikatong.html" target="_blank" tip="久游一卡通回收">
									<img src="./img/23.jpg" alt="久游一卡通回收">
									<span class="title">久游一卡通回收</span>
									<span class="go">我有卡要回收</span>
								</a>
							</li>
							<li>
								<a href="souhuyikatong.html" target="_blank" tip="搜狐一卡通回收">
									<img src="./img/24.jpg" alt="搜狐一卡通回收">
									<span class="title">搜狐一卡通回收</span>
									<span class="go">我有卡要回收</span>
								</a>
							</li>
							<li>
								<a href="tianhongyikatong.html" target="_blank" tip="天宏一卡通回收">
									<img src="./img/25.jpg" alt="天宏一卡通回收">
									<span class="title">天宏一卡通回收</span>
									<span class="go">我有卡要回收</span>
								</a>
							</li>
							<li>
								<a href="zongyouyikatong.html" target="_blank" tip="纵游一卡通回收">
									<img src="./img/26.jpg" alt="纵游一卡通回收">
									<span class="title">纵游一卡通回收</span>
									<span class="go">我有卡要回收</span>
								</a>
							</li>
							<li>
								<a href="tianxiatongyikatong.html" target="_blank" tip="天下通一卡通回收">
									<img src="./img/27.jpg" alt="天下通一卡通回收">
									<span class="title">天下通一卡通回收</span>
									<span class="go">我有卡要回收</span>
								</a>
							</li>
							<li>
								<a href="zhengtuyikatong.html" target="_blank" tip="巨人一卡通(征途卡)回收">
									<img src="./img/28.jpg" alt="巨人一卡通(征途卡)回收">
									<span class="title">巨人一卡通(征途卡)回收</span>
									<span class="go">我有卡要回收</span>
								</a>
							</li>
							<li>
								<a href="qbika.html" target="_blank" tip="Q币卡回收">
									<img src="./img/29.jpg" alt="Q币卡回收">
									<span class="title">Q币卡回收</span>
									<span class="go">我有卡要回收</span>
								</a>
							</li>
							<li>
								<a href="32yikatong.html" target="_blank" tip="32一卡通回收">
									<img src="./img/30.jpg" alt="32一卡通回收">
									<span class="title">32一卡通回收</span>
									<span class="go">我有卡要回收</span>
								</a>
							</li>
							<li>
								<a href="shengfutongka.html" target="_blank" tip="盛付通卡回收">
									<img src="./img/31.jpg" alt="盛付通卡回收">
									<span class="title">盛付通卡回收</span>
									<span class="go">我有卡要回收</span>
								</a>
							</li>
						</ul>
					</div>
					<div id="con_card_3" class="cards-item hide">
						<ul class="cards-group cards-group-inline clearfix">
							<li>
								<a href="xiechengrenwoxing.html" target="_blank" tip="携程任我行回收">
									<img src="./img/10.jpg" alt="携程任我行回收">
									<span class="title">携程任我行回收</span>
									<span class="go">我有卡要回收</span>
								</a>
							</li>
							<li>
								<a href="lvmamalipinka.html" target="_blank" tip="驴妈妈礼品卡回收">
									<img src="./img/43.jpg" alt="驴妈妈礼品卡回收">
									<span class="title">驴妈妈礼品卡回收</span>
									<span class="go">我有卡要回收</span>
								</a>
							</li>
							<li>
								<a href="tongchenglvyouka.html" target="_blank" tip="同程旅游卡回收">
									<img src="./img/44.jpg" alt="同程旅游卡回收">
									<span class="title">同程旅游卡回收</span>
									<span class="go">我有卡要回收</span>
								</a>
							</li>
							<li>
								<a href="qunaerlipinka.html" target="_blank" tip="去哪儿礼品卡回收">
									<img src="./img/45.jpg" alt="去哪儿礼品卡回收">
									<span class="title">去哪儿礼品卡回收</span>
									<span class="go">我有卡要回收</span>
								</a>
							</li>
						</ul>
					</div>
					<div id="con_card_4" class="cards-item hide">
						<ul class="cards-group cards-group-inline clearfix">
							<li>
								<a href="yidongchongzhika.html" target="_blank" tip="移动卡(神州行)回收">
									<img src="./img/17.jpg" alt="移动卡(神州行)回收">
									<span class="title">移动卡(神州行)回收</span>
									<span class="go">我有卡要回收</span>
								</a>
							</li>
							<li>
								<a href="liantongchongzhika.html" target="_blank" tip="联通卡回收">
									<img src="./img/18.jpg" alt="联通卡回收">
									<span class="title">联通卡回收</span>
									<span class="go">我有卡要回收</span>
								</a>
							</li>
							<li>
								<a href="dianxinchongzhika.html" target="_blank" tip="电信卡回收">
									<img src="./img/19.jpg" alt="电信卡回收">
									<span class="title">电信卡回收</span>
									<span class="go">我有卡要回收</span>
								</a>
							</li>
						</ul>
					</div>
					<div id="con_card_5" class="cards-item hide">
						<ul class="cards-group clearfix" style="width: 835px;">
							<li>
								<a href="zhongxinkayifuka.html" target="_blank" tip="中欣卡(易付卡)回收">
									<img src="./img/15.jpg" alt="中欣卡(易付卡)回收">
									<span class="title">中欣卡(易付卡)回收</span>
									<span class="go">我有卡要回收</span>
								</a>
							</li>
							<li>
								<a href="lianhuaokka.html" target="_blank" tip="联华ok卡回收">
									<img src="./img/35.jpg" alt="联华ok卡回收">
									<span class="title">联华ok卡回收</span>
									<span class="go">我有卡要回收</span>
								</a>
							</li>
							<li>
								<a href="wannengxiaofeika.html" target="_blank" tip="万能消费卡回收">
									<img src="./img/46.jpg" alt="万能消费卡回收">
									<span class="title">万能消费卡回收</span>
									<span class="go">我有卡要回收</span>
								</a>
							</li>
							<li>
								<a href="shenghuobindedianzika.html" target="_blank" tip="生活杉德电子卡回收">
									<img src="./img/47.jpg" alt="生活杉德电子卡回收">
									<span class="title">生活杉德电子卡回收</span>
									<span class="go">我有卡要回收</span>
								</a>
							</li>
							<li>
								<a href="wanshangka.html" target="_blank" tip="万商卡回收">
									<img src="./img/48.jpg" alt="万商卡回收">
									<span class="title">万商卡回收</span>
									<span class="go">我有卡要回收</span>
								</a>
							</li>
							<li>
								<a href="shitongka.html" target="_blank" tip="世通卡回收">
									<img src="./img/49.jpg" alt="世通卡回收">
									<span class="title">世通卡回收</span>
									<span class="go">我有卡要回收</span>
								</a>
							</li>
							<li>
								<a href="shangmengka.html" target="_blank" tip="商盟卡回收">
									<img src="./img/50.jpg" alt="商盟卡回收">
									<span class="title">商盟卡回收</span>
									<span class="go">我有卡要回收</span>
								</a>
							</li>
							<li>
								<a href="yingdianshenghuoka.html" target="_blank" tip="赢点生活卡回收">
									<img src="./img/51.jpg" alt="赢点生活卡回收">
									<span class="title">赢点生活卡回收</span>
									<span class="go">我有卡要回收</span>
								</a>
							</li>
							<li>
								<a href="zhihuika.html" target="_blank" tip="智惠卡回收">
									<img src="./img/52.jpg" alt="智惠卡回收">
									<span class="title">智惠卡回收</span>
									<span class="go">我有卡要回收</span>
								</a>
							</li>
						</ul>
					</div>
					<div id="con_card_6" class="cards-item hide">
						<ul class="cards-group cards-group-inline clearfix">
							<li>
								<a href="zhongshihuajiayouka.html" target="_blank" tip="中石化加油卡回收">
									<img src="./img/42.jpg" alt="中石化加油卡回收">
									<span class="title">中石化加油卡回收</span>
									<span class="go">我有卡要回收</span>
								</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<div class="friend-links">
			<div class="container">
				<span class="text-red">友情链接：</span>
				<a href="" rel="nofollow" target="_blank">暂无</a>
				<span class="sep">|</span>
				<a href="" rel="nofollow" target="_blank">暂无</a>
			</div>
		</div>
	</div>
	<script>
			if(window.chrome) {
				$('.banner li').css('background-size', '100% 100%');
			}

			$('.banner').unslider({
				arrows: false,
				fluid: true,
				dots: true
			});

			//  Find any element starting with a # in the URL
			//  And listen to any click events it fires
			$('a[href^="#"]').click(function() {
				//  Find the target element
				var target = $($(this).attr('href'));

				//  And get its position
				var pos = target.offset(); // fallback to scrolling to top || {left: 0, top: 0};

				//  jQuery will return false if there's no element
				//  and your code will throw errors if it tries to do .offset().left;
				if(pos) {
					//  Scroll the page
					$('html, body').animate({
						scrollTop: pos.top,
						scrollLeft: pos.left
					}, 1000);
				}

				//  Don't let them visit the url, we'll scroll you there
				return false;
			});
		</script>
	<%- include ../includes/footer.html %>