<%- include ../layout.html %>
    <div class="content help-center">
        <%- include ../includes/share.html %>
        <div class="container fn-clear">
            <%- include ../includes/helpleft.html %>
            <div class="help-main">
                <h2>公司简介</h2>
                <div class="help-cont">
                    <p>
                        51卡务网
                        <span class="text-red">（www.lipin.com / www.lipinka.com）</span>
                        属于渔人信息技术（广州）有限公司，是运营关于二手卡回收服务的网站，公司成立以来一直致力于卡回收、卡兑换、卡消费、卡资讯服务等业务的合作和拓展。51卡务网暂时只针对网站公布回收的卡进行回收处理，主营业务具体如下：
                    </p>
                    <h5>1、电商卡回收：</h5>
                    <p>
                        目前支持回收的卡有：京东E卡、天猫商城点券、当当礼品卡、携程任我行、苏宁易购礼品卡、1号店礼品卡、亚马逊礼品卡等等，后期会逐步的发布更多的卡类回收。详情请参考网站公示。
                        <a href="http://www.lipin.com/b2c.html">查看全部电商卡回收</a>
                    </p>
                    <h5>2、游戏卡回收：</h5>
                    <p>
                        目前支持回收的卡有：骏网一卡通、盛大一卡通、久游一卡通、完美一卡通、网易一卡通、天宏一卡通、纵游一卡通、32一卡通、搜狐一卡通、征途一卡通、天下通一卡通、Q币卡等，后期会逐步的发布更多的卡类回收。详情请参考网站公示。
                        <a href="http://www.lipin.com/games.html">查看全部游戏卡回收</a>
                    </p>
                    <h5>3、话费卡回收：</h5>
                    <p>
                        目前支持回收的卡有：移动充值卡、联通充值卡、电信充值卡，后期会逐步的发布更多的卡类回收。详情请参考网站公示。
                        <a href="http://www.lipin.com/costs.html">查看全部话费卡回收</a>
                    </p>
                    <h5>4、旅游卡回收：</h5>
                    <p>
                        目前支持回收的卡有：携程任我行、驴妈妈礼品卡、同城旅游卡、去哪儿礼品卡等等，后期会逐步的发布更多的卡类回收。详情请参考网站公示。
                        <a href="http://www.lipin.com/trip.html">查看全部旅游卡回收</a>
                    </p>
                    <h5>5、商超卡回收：</h5>
                    <p>
                        目前支持回收的卡有：中欣卡(易付卡)、联华ok卡、万商卡、万能消费卡、商盟卡等，后期会逐步的发布更多的卡类回收。详情请参考网站公示。
                        <a href="http://www.lipin.com/mart.html">查看全部商超卡回收</a>
                    </p>
                    <h5>6、加油卡回收：</h5>
                    <p>
                        目前支持回收的卡有：中国石化加油卡，后期会逐步的发布更多的卡类回收。详情请参考网站公示。
                        <a href="http://www.lipin.com/oils.html">查看加油卡回收</a>
                    </p>
                    <h5>7、公司联系方式：</h5>
                    <p>
                        联系地址：广东省广州市天河区广棠西路13号整栋
                        <br>联系电话：400-872-2002</p>
                </div>
            </div>
        </div>
    </div>
<%- include ../includes/footer.html %>