<%- include ../layout.html %>
	<div class="content help-center">
		<%- include ../includes/share.html %>
		<div class="container fn-clear">
			<%- include ../includes/helpleft.html %>
			<div class="help-main">
				<h2>常见问题</h2>
				<div class="help-cont">
					<div class="faq-item">
						<h6 class="faq-tite">
							<a href="javascript:;" class="open"> <strong>1、</strong>
								51卡务网支持回收的二手卡有哪些？
								<i class="iconimg"></i>
							</a>
						</h6>
						<div class="faq-cont" style="display: block;">
							<p class="text-danger"> <strong>51卡务网暂时只针对网站公布回收的二手卡进行回收处理，目前支持回收的卡有50种；</strong>
							</p>
							<p>目前包括电商卡、商超卡、旅游卡、加油卡、游戏卡、话费卡6种。</p>
							<p>您可在二手卡回收提交页面查看，如果没有您想要提交的卡，您可以联系客服。</p>
							<p>后期我们会会逐步的发布更多的卡类回收，详情请参考网站公示。</p>
						</div>
					</div>
					<div class="faq-item">
						<h6 class="faq-tite">
							<a class="text-danger" href="javascript:;">
								<strong>2、</strong>
								游戏卡与话费卡必看问题！
								<i class="iconimg"></i>
							</a>
						</h6>
						<div class="faq-cont">
							<p>游戏卡为自动结算形式回收，用户提交订单后最快几分钟内即可收到回收款。</p>
							<p class="text-danger">
								请提交前
								<strong>认真核对</strong>
								选择的面额，如实际卡面额大于您选择的面额，
								<strong>高于部分不予退还！</strong>
							</p>
							<p>
								<small class="text-muted">如：您选择10元面额但实际为30元卡，则系统认为提交面额为10元，高于10元部分不予退还。</small>
							</p>
						</div>
					</div>
					<div class="faq-item">
						<h6 class="faq-tite">
							<a href="javascript:;">
								<strong>3、</strong>
								哪些二手卡卡不支持回收？
								<i class="iconimg"></i>
							</a>
						</h6>
						<div class="faq-cont">
							<p>凡是已使用的卡、偷盗卡、非正常渠道获得的卡以及网站上没有的卡种我们都不回收。</p>
						</div>
					</div>
					<div class="faq-item">
						<h6 class="faq-tite">
							<a href="javascript:;">
								<strong>4、</strong>
								回收放款需要多少时间？
								<i class="iconimg"></i>
							</a>
						</h6>
						<div class="faq-cont">
							<p>工作时间内提交，一般两个小时内处理完成（特殊情况除外）；非工作时间内，处理时间将延期到下一个工作时间。</p>
						</div>
					</div>
					<div class="faq-item">
						<h6 class="faq-tite">
							<a href="javascript:;">
								<strong>5、</strong>
								二手卡回收需要手续费么？
								<i class="iconimg"></i>
							</a>
						</h6>
						<div class="faq-cont">
							<p>您好，回收价格已经包含手续费，不会再收取任何形式的手续费（除了加急处理功能）。</p>
						</div>
					</div>
					<div class="faq-item">
						<h6 class="faq-tite">
							<a href="javascript:;">
								<strong>6、</strong>
								电子卡与实体卡区别？
								<i class="iconimg"></i>
							</a>
						</h6>
						<div class="faq-cont">
							<p>实体卡是实物的，是一张卡片的形式，卡的背面有卡号和密码；</p>
							<p>电子卡是虚拟的，是通过网上在线购买获取卡号和密码的；</p>
							<p>实体卡和电子卡在我们这回收的时候都是一样的。</p>
						</div>
					</div>
					<div class="faq-item">
						<h6 class="faq-tite">
							<a href="javascript:;">
								<strong>7、</strong>
								其他问题
								<i class="iconimg"></i>
							</a>
						</h6>
						<div class="faq-cont">
							<p>如若您有其他任何关于二手卡回收问题，您可以咨询在线客服QQ或者拨打51卡务网客服电话：400-6093-365。</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<%- include ../includes/footer.html %>