<%- include ../../userlayout.html %>
	<div id="bank-dialog" class="modal fn-hide"></div>
	<div class="view-framework">
		<%- include ../../includes/userleft.html %>
		<div class="view-framework-body">
			<div class="container-fluid">
				<div class="view-framework-main">
					<div class="box">
						<ul class="box-list clearfix">
							<li class="pb25 fsz16">
								您好，<%= user.member_code %>，欢迎登录51卡务网账户中心
								<span class="sep">|</span>
								<a class="gray" href="/out.html" tip="如您未在自己的电脑上登录51卡务网，请务必在&lt;br /&gt;离开的时候点击退出，以确保您的账户安全。">退出</a>
							</li>
							<li class="last">
								<div class="account-assets clearfix">
									<div class="col-xs-4">
										<div class="assets-yue">
											<div class="assets-icon">
												<i class="iconfont icon-money"></i>
											</div>
											<div class="assets-title">账户余额（元）：</div>
											<div class="assets-money"><%= user.balance %></div>
										</div>
									</div>
									<div class="col-xs-3">
										<div class="assets-actions pt15">
											<p>
												<a class="btn btn-primary btn-sm mr30" href="javascript:;" onclick="getcash()">提现</a>
												<a href="">提现记录</a>
											</p>
											<!-- <p class="text-muted pt10">冻结余额：¥0.00</p> -->
										</div>
									</div>
									<div class="col-xs-4">
										<div class="assets-leight pt15">
											<a class="btn btn-sm" href="">账户操作日志</a>
										</div>
									</div>
								</div>
							</li>
						</ul>
					</div>
					<div class="box">
						<ul class="box-list clearfix">
							<li>
								<div class="security-item clearfix">
									<div class="col-xs-offset-1 col-xs-2">
										<div class="item-name">安全等级</div>
									</div>
									<div class="col-xs-6">
										<div class="item-progress">
											<div class="progress">
												<div class="progressbar securelevel-1"></div>
											</div>
										</div>
									</div>
								</div>
							</li>
							<li>
								<div class="security-item clearfix">
									<div class="col-xs-1">
										<div class="item-icon">
											<i class="iconfont icon-open"></i>
										</div>
									</div>
									<div class="col-xs-2">
										<div class="item-name">登录密码</div>
									</div>
									<div class="col-xs-6">
										<div class="item-text">
											<span class="text-red">互联网账号存在被盗风险，建议您定期更改密码以保护账户安全。</span>
										</div>
									</div>
									<div class="col-xs-2">
										<div class="item-action">
											<a href="/setpassword.html">修改登录密码</a>
										</div>
									</div>
								</div>
							</li>
							<li>
								<div class="security-item clearfix">
									<% if(usermsg.cell_phone == ""){ %>
									<div class="col-xs-1">
										<div class="item-icon">
											<i class="iconfont icon-close"></i>
										</div>
									</div>
									<div class="col-xs-2">
										<div class="item-name">绑定手机</div>
									</div>
									<div class="col-xs-6">
										<div class="item-text">您还未绑定手机，请立即绑定</div>
									</div>
									<div class="col-xs-2">
										<div class="item-action">
											<a href="/setphone.html">绑定</a>
										</div>
									</div>
						            <% }else{ %>
						            <div class="col-xs-1">
										<div class="item-icon">
											<i class="iconfont icon-open"></i>
										</div>
									</div>
									<div class="col-xs-2">
										<div class="item-name">绑定手机</div>
									</div>
									<div class="col-xs-6">
										<div class="item-text"><%= usermsg.cell_phone %></div>
									</div>
						            <% } %>
								</div>
							</li>
							<li>
								<div class="security-item clearfix">
									<% if(usermsg.email != ""){ %>
									<div class="col-xs-1">
										<div class="item-icon">
											<i class="iconfont icon-open"></i>
										</div>
									</div>
									<div class="col-xs-2">
										<div class="item-name">设置邮箱</div>
									</div>
									<div class="col-xs-6">
										<div class="item-text"><%= usermsg.email %></div>
									</div>
									<% }else{ %>
									<div class="col-xs-1">
										<div class="item-icon">
											<i class="iconfont icon-close"></i>
										</div>
									</div>
									<div class="col-xs-2">
										<div class="item-name">设置邮箱</div>
									</div>
									<div class="col-xs-6">
										<div class="item-text">您还未设置邮箱，请立即设置</div>
									</div>
									<div class="col-xs-2">
										<div class="item-action">
											<a href="setemail.html">设置</a>
										</div>
									</div>
									<% } %>
								</div>
							</li>
							<!-- <li>
								<div class="security-item clearfix">
								<% if(usermsg.cell_phone == ""){ %>
									<div class="col-xs-1">
										<div class="item-icon">
											<i class="iconfont icon-close"></i>
										</div>
									</div>
									<div class="col-xs-2">
										<div class="item-name">支付密码</div>
									</div>
									<div class="col-xs-6">
										<div class="item-text">
											<span class="text-red">在使用账户余额等时，均需通过支付密码进行身份验证，请牢记支付密码</span>
										</div>
									</div>
									<div class="col-xs-2">
										<div class="item-action">
											<a href="#">支付密码管理</a>
										</div>
									</div>
								</div>
								<% }else{ %>
									<div class="col-xs-1">
										<div class="item-icon">
											<i class="iconfont icon-open"></i>
										</div>
									</div>
									<div class="col-xs-2">
										<div class="item-name">支付密码</div>
									</div>
									<div class="col-xs-6">
										<div class="item-text">
											<span class="text-red"><%= usermsg.pay_password %></span>
										</div>
									</div>
									<div class="col-xs-2">
										<div class="item-action">
											<a href="#">支付密码管理</a>
										</div>
									</div>
								<% } %>
							</li> -->
							<li class="last">
								<div class="security-item clearfix">
									<div class="col-xs-offset-1 col-xs-2">
										<div class="item-name">注册时间</div>
									</div>
									<div class="col-xs-6">
										<div class="item-text"><%= moment(usermsg.create_time).format('YYYY年MM月DD日') %></div>
									</div>
								</div>
							</li>
						</ul>
					</div>
					<div class="account-safe-panel hide">
						<div class="panel panel-tips panel-safe-tips">
							<h5>账户安全提示：</h5>
							<p class="red">您暂未绑定邮箱或手机号，这将导致无法修改支付密码和找回登录密码，为了您的账户安全，请尽快去设置！（建议两者都设置）</p>
							<p class="orange">在提现、使用账户余额、51卡务网E卡余额等时，均需验证支付密码。</p>
							<p>
								<a class="btn btn-primary btn-small" href="account/act_email">设置邮箱</a>
								<a class="btn btn-primary btn-small" href="">绑定手机</a>
							</p>
						</div>
					</div>
				</div>
				<%- include ../../includes/userfooter.html %>
			</div>
		</div>
	</div>
	<div class="backtop" id="back-to-top">
		<ul class="backtop-group">
			<li>
				<a class="iconimg wap" data-hover="dropdown" href="javascript:;">加关注</a>
				<div class="dropdown-menu">
					<img src="../img/wx.png" alt=""></div>
			</li>
			<li>
				<a class="iconimg qq" target="_blank" href="">QQ在线咨询</a>
			</li>
			<li>
				<a class="iconimg online" href="javascript:NTKF.im_openInPageChat(&#39;kf_9665_1445856633743&#39;)">在线客服</a>
			</li>
			<li>
				<a class="iconimg totop" id="totop" href="account.html#top" style="display: none;">回到顶部</a>
			</li>
		</ul>
	</div>
	<div id="modal-dialog" class="modal hide"></div>
	<div class="modal-cover hide" id="modal-dialog-cover"></div>