<%- include ../../userlayout.html %>
	<div id="bank-dialog" class="modal fn-hide"></div>
		<div class="view-framework">
		<%- include ../../includes/userleft.html %>
		<div class="view-framework-body">
			<div class="container-fluid">
				<div class="view-framework-main">
					<h3>我的资料</h3>
					<div class="box form-divider">
						<div class="form-group">
							<div class="col-xs-2">
								<label>登陆账号：</label>
							</div>
							<div class="col-xs-8">
								<p><%= user.member_code %></p>
							</div>
						</div>
						<hr>
						<div class="form-group">
							<div class="col-xs-2">
								<label class="control-labesl">真实姓名：</label>
							</div>
							<% if(usermsg.member_name == ""){ %>
							<div class="col-xs-9">
								<p>
									<span class="text-muted">还未设置，请在提现的时候填写您真实姓名，</span>
									<span class="text-red">第一次填写之后不可再修改</span>
								</p>
							</div>
							<% }else{ %>
							<div class="col-xs-9">
								<p>
									<span class="text-muted"><%= usermsg.member_name %></span>
								</p>
							</div>
							<% } %>
						</div>
						<hr>
						<div class="form-group">
							<div class="col-xs-2">
								<label>手机认证：</label>
							</div>
							<% if(usermsg.cell_phone == ""){ %>
							<div class="col-xs-9">
								<p>
									<span class="text-muted">手机未绑定，</span>
									<a href="/user/setphone.html">马上去绑定</a>
								</p>
							</div>
							<% }else{ %>
							<div class="col-xs-9">
								<p>
									<span class="text-muted"><%= usermsg.cell_phone %></span>
								</p>
							</div>
							<% } %>
						</div>
						<hr>
						<div class="form-group">
							<div class="col-xs-2">
								<label>邮箱认证：</label>
							</div>
							<% if(usermsg.email == ""){ %>
							<div class="col-xs-9">
								<p>
									<span class="text-muted">未设置，</span>
									<a href="/user/setemail.html">马上去绑定</a>
								</p>
							</div>
							<% }else{ %>
							<div class="col-xs-9">
								<p>
									<span class="text-muted"><%= usermsg.email %></span>
								</p>
							</div>
							<% } %>
							
						</div>
						<hr>
						<!-- <div class="form-group">
							<div class="col-xs-2">
								<label>默认地址：</label>
							</div>
							<div class="col-xs-9">
								<p>
									<span class="text-muted">未添加收货地址，</span>
									<a href="account/act_address">马上去绑定</a>
								</p>
							</div>
						</div> -->
					</div>
				</div>
				<%- include ../../includes/userfooter.html %>
			</div>
		</div>
	</div>
	<%- include ../../includes/float.html %>
</body>
</html>