<%- include ../../userlayout.html %>
	<div id="bank-dialog" class="modal fn-hide"></div>
		<div class="view-framework">
		<%- include ../../includes/userleft.html %>
		<div class="view-framework-body">
			<div class="container-fluid">
				<div class="view-framework-main">
					<h3 class="clearfix">我的订单</h3>
					<div class="account-content order-content">
						<div class="box">
							<div class="nodata">
								<i class="iconfont icon-nodata"></i>
								<br>抱歉，没有找到任何相关的数据！</div>
						</div>
					</div>
				</div>
				<%- include ../../includes/userfooter.html %>
			</div>
		</div>
	</div>
	<script>function cancel(order) {openconfirm("删除订单["+order+"]？",'', function (obj) {$.post('/?do=account&act=order&to=del', "order=" + order, function (data) {if (data=="0") {obj.find('#oconfirm').html("本次操作没有成功！");} else {$("#order_"+order).fadeOut(function() {$(this).remove();});obj.dialog("close");}});},500);}</script>
	<%- include ../../includes/float.html %>
</body>
</html>