
<%- include ../../userlayout.html %>
	<div id="bank-dialog" class="modal fn-hide"></div>
		<div class="view-framework">
		<%- include ../../includes/userleft.html %>
		<div class="view-framework-body">
			<div class="container-fluid">
				<div class="view-framework-main">
					<h3 class="clearfix">
						<a class="btn btn-blue btn-small pull-right" href="/user/cardsRecovery.html">我要卖卡</a>
						卖卡记录
					</h3>
					<div class="box">
						<div class="nodata">
							<i class="iconfont icon-nodata"></i>
							<br>抱歉，没有找到任何相关的数据！</div>
					</div>
				</div>
				<%- include ../../includes/userfooter.html %>
			</div>
		</div>
	</div>
	<div class="backtop" id="back-to-top">
		<ul class="backtop-group">
			<li>
				<a class="iconimg wap" data-hover="dropdown" href="javascript:;">加关注</a>
				<div class="dropdown-menu">
					<img src="./卖卡明细 - 51卡务网_files/wx.png" alt=""></div>
			</li>
			<li>
				<a class="iconimg qq" target="_blank" href="http://wpa.qq.com/msgrd?v=3&amp;uin=11215476&amp;site=qq&amp;menu=yes">QQ在线咨询</a>
			</li>
			<li>
				<a class="iconimg online" href="javascript:NTKF.im_openInPageChat(&#39;kf_9665_1445856633743&#39;)">在线客服</a>
			</li>
			<li>
				<a class="iconimg totop" id="totop" href="account/act_selldetail#top" style="display: none;">回到顶部</a>
			</li>
		</ul>
	</div>
	<div id="modal-dialog" class="modal hide"></div>
	<div class="modal-cover hide" id="modal-dialog-cover"></div>
	<div style="display:none">
		<script src="./卖卡明细 - 51卡务网_files/z_stat.php" language="JavaScript"></script>
		<script src="./卖卡明细 - 51卡务网_files/core.php" charset="utf-8" type="text/javascript"></script>
		<a href="http://www.cnzz.com/stat/website.php?web_id=1254973404" target="_blank" tip="站长统计">站长统计</a>
	</div>
	<script>var NTKF_PARAM = {settingid: 'kf_9665_1445856633743',uname: getCookie("wq_username"),iconid: '0'}</script>
	<script type="text/javascript" charset="utf-8" src="./卖卡明细 - 51卡务网_files/ntkfstat.js"></script>
</body>
</html>