<style>
	table{
		width:80%;
		margin:0 auto;
	}
	table>tbody>tr,table>thead>tr>th{
		line-height:50px;
		text-align:center;
		vertical-align:middle;
	}
</style>
<%- include ../../userlayout.html %>
	<div id="bank-dialog" class="modal fn-hide"></div>
		<div class="view-framework">
		<%- include ../../includes/userleft.html %>
		<div class="view-framework-body">
			<div class="container-fluid">
				<div class="view-framework-main">
					<h3 class="clearfix">
						<a class="btn btn-blue btn-small pull-right" href="/user/sellCards.html">我要卖卡</a>
						卖卡记录
					</h3>
					<% if(results.length <= 0){ %>
		            <div class="box">
		                <div class="nodata">
		                    <i class="iconfont icon-nodata"></i>
		                    <br>
		                    抱歉，没有找到任何相关的数据！
		                </div>
		            </div>
		            <% }else{ %>
		            <table class="table trade-records">
		                <thead>
		                    <tr>
								<th>卡片种类</th>
								<th>卡号</th>
								<th>面值(￥)</th>
								<th>回收价格(￥)</th>
								<th></th>
							</tr>
		                </thead>
		                <tbody>
		                <% for(var i=0;i<results.length;i++){ %>
		                    <tr>
								<td><%= results[i].card_name %></td>
								<td><%= results[i].card_no %></td>
								<td><%= results[i].face_value %></td>
								<td><%= results[i].bid_price %></td>
								<td><button class="btn-small">修改</button>&nbsp;<button class="btn-small">删除</button></td>
							</tr>
		                <% } %>
		                </tbody>
		                <% } %>
		            </table>
				</div>
				<%- include ../../includes/userfooter.html %>
			</div>
		</div>
	</div>
	<%- include ../../includes/float.html %>
</body>
</html>