<%- include ../../userlayout.html %>
	<div id="bank-dialog" class="modal fn-hide"></div>
		<div class="view-framework">
		<%- include ../../includes/userleft.html %>
		<div class="view-framework-body">
			<div class="container-fluid">
				<div class="view-framework-main">
					<h3>密码设置</h3>
					<div class="box">
						<ul class="btn-group clearfix">
							<li>
								<a class="btn" href="/user/setpassword.html">
									登录密码管理 <b></b>
								</a>
							</li>
							<li class="active">
								<a class="btn" href="/user/setorderpassword.html">
									支付密码管理 <b></b>
								</a>
							</li>
						</ul>
						<div class="py50">
							<!-- <form action="" method="post" id="newpass"> -->
							<% if(paypassword != ""){ %>
								<div class="form-group">
									<div class="col-xs-2">
										<label class="control-label" for="oldpsw">原支付密码：</label>
									</div>
									<div class="col-xs-4">
										<div class="mr4">
											<input class="form-control" id="oldpsw" name="oldpsw" type="password"></div>
									</div>
								</div>
							<% }else{ %>
								<input type="hidden" value="" id="oldpwd">
				            <% } %>
								<div class="form-group">
									<div class="col-xs-2">
										<label class="control-label" for="newpsw">新支付密码：</label>
									</div>
									<div class="col-xs-4">
										<div class="mr4">
											<input class="form-control" id="newpsw" name="newpsw" type="password"></div>
									</div>
								</div>
								<div class="form-group">
									<div class="col-xs-2">
										<label class="control-label" for="verifycode">验证码：</label>
									</div>
									<div class="col-xs-2">
										<div class="mr4">
											<input type="text" class="form-control" id="verifycode" name="verifycode" maxlength="4" null=""></div>
									</div>
									<div class="col-xs-4">
										<img src="/imgcode" class="verifyimg code" tip="点击图片刷新验证码" onclick="this.src='/imgcode?time='+Math.random()" style="width: 50%"></div>
								</div>
								<div class="form-group">
									<div class="col-xs-4 col-xs-offset-2">
										<input type="hidden" name="refer" value="">
										<input type="hidden" name="formhash" value="3f959c23">
										<input class="btn btn-primary btn-block" type="submit" name="newpass" value="提交" id="postpassword"></div>
								</div>
							<!-- </form> -->
						</div>
					</div>
				</div>
				<%- include ../../includes/userfooter.html %>
			</div>
		</div>
	</div>
	<script>
		$("#postpassword").click(function (){
			var data = {
				oldpassword:$('#oldpsw').val(),
				newpassword:$('#newpsw').val()
			}
			sajax('/changepaypassword','POST',data,function(data){
				if(data.code == 200){
					alert(data.msg)
					window.location.reload();
				}else{
					alert(data.msg)
				}
			})
			return false;
		})
	</script>
	<%- include ../../includes/float.html %>
</body>
</html>