<%- include ../../userlayout.html %>
	<div id="bank-dialog" class="modal fn-hide"></div>
		<div class="view-framework">
		<%- include ../../includes/userleft.html %>
		<div class="view-framework-body">
			<div class="container-fluid">
				<div class="view-framework-main">
					<h3>密码设置</h3>
					<div class="box">
						<ul class="btn-group clearfix">
							<li>
								<a class="btn" href="/user/setpassword.html">
									登录密码管理 <b></b>
								</a>
							</li>
							<li class="active">
								<a class="btn" href="/user/setorderpassword.html">
									支付密码管理 <b></b>
								</a>
							</li>
						</ul>
						<div class="py50">
							<form action="./密码设置 - 51卡务网_files/密码设置 - 51卡务网.html" method="post" id="newpass">
								<div class="form-group">
									<div class="col-xs-2">
										<label class="control-label" for="oldpsw">新支付密码：</label>
									</div>
									<div class="col-xs-4">
										<div class="mr4">
											<input class="form-control" id="oldpsw" name="oldpsw" type="password"></div>
									</div>
								</div>
								<div class="form-group">
									<div class="col-xs-2">
										<label class="control-label" for="verifycode">验证码：</label>
									</div>
									<div class="col-xs-2">
										<div class="mr4">
											<input type="text" class="form-control" id="verifycode" name="verifycode" maxlength="4" null=""></div>
									</div>
									<div class="col-xs-4">
										<img src="/imgcode" class="verifyimg code" tip="点击图片刷新验证码" onclick="this.src='/imgcode?time='+Math.random()" style="width: 50%"></div>
								</div>
								<div class="form-group">
									<div class="col-xs-4 col-xs-offset-2">
										<input type="hidden" name="refer" value="">
										<input type="hidden" name="formhash" value="3f959c23">
										<input class="btn btn-primary btn-block" type="submit" name="newpass" value="提交" onclick="return regform(this);"></div>
								</div>
							</form>
						</div>
					</div>
				</div>
				<%- include ../../includes/userfooter.html %>
			</div>
		</div>
	</div>
	<div class="backtop" id="back-to-top">
		<ul class="backtop-group">
			<li>
				<a class="iconimg wap" data-hover="dropdown" href="javascript:;">加关注</a>
				<div class="dropdown-menu">
					<img src="/wx.png" alt=""></div>
			</li>
			<li>
				<a class="iconimg qq" target="_blank" href="">QQ在线咨询</a>
			</li>
			<li>
				<a class="iconimg online" href="javascript:NTKF.im_openInPageChat(&#39;kf_9665_1445856633743&#39;)">在线客服</a>
			</li>
			<li>
				<a class="iconimg totop" id="totop" href="account/act_password#top" style="display: none;">回到顶部</a>
			</li>
		</ul>
	</div>
	<div id="modal-dialog" class="modal hide"></div>
	<div class="modal-cover hide" id="modal-dialog-cover"></div>
</body>
</html>