<%- include ../../userlayout.html %>
	<div id="bank-dialog" class="modal fn-hide"></div>
		<div class="view-framework">
		<%- include ../../includes/userleft.html %>
		<div class="view-framework-body">
			<div class="container-fluid">
				<div class="view-framework-main">
					<h3 class="clearfix">绑定手机</h3>
					<div class="box">
						<div class="row">
							<div class="col-xs-6 col-xs-offset-1">
								<div class="stepflex stepflex-2">
									<ul class="clearfix">
										<li class="first doing">
											<div class="stepflex-num">
												<span>1</span>
											</div>
											<div class="stepflex-text">手机验证</div>
										</li>
										<li>
											<div class="stepflex-num">
												<span>
													<i class="iconfont"></i>
												</span>
											</div>
											<div class="stepflex-text">绑定手机成功</div>
											<div class="stepflex-progress"></div>
										</li>
									</ul>
								</div>
							</div>
						</div>
						<form id="submitmobile">
							<div class="form-group">
								<div class="col-xs-2 col-xs-offset-1">
									<label class="control-label" for="phoneno">手机号码：</label>
								</div>
								<div class="col-xs-3">
									<div class="mr4">
										<input class="form-control" id="phoneno" type="text" name="phoneno"></div>
								</div>
							</div>
							<div class="form-group">
								<div class="col-xs-2 col-xs-offset-1">
									<label class="control-label" for="codeno">短信验证码：</label>
								</div>
								<div class="col-xs-2">
									<div class="mr4">
										<input class="form-control" id="codeno" name="codeno" type="text"></div>
								</div>
								<div class="col-xs-6">
									<div class="pl10">
										<a class="btn" href="javascript:;" onclick="getcode(this,&#39;get&#39;,&#39;mobile&#39;);" id="mcode">获取验证码</a>
									</div>
								</div>
							</div>
							<div class="form-group pb30">
								<div class="col-xs-3 col-xs-offset-3">
									<input type="hidden" name="refer" value="/account/act_mobile">
									<input type="hidden" name="formhash" value="3f959c23">
									<a class="btn btn-primary btn-block" onclick="getcode(this,&#39;set&#39;,&#39;mobile&#39;);">提交</a>
								</div>
							</div>
						</form>
					</div>
					<div class="alert line-height-18 px30 py20">
						<p>1、一个手机号码只能绑定一个账号；</p>
						<p>2、绑定手机不收任何费用请您放心使用；</p>
						<p>3、为了您的账号安全，绑定成功后，请不要随意修改联系方式。</p>
						<p>您的手机绑定之后，即可享受手机登录、找回密码等服务，让您的网上购物体验更安全更便捷。</p>
						<h5> <strong>· 有了绑定手机账号就很安全吗？</strong>
						</h5>
						<p>
							绑定手机并不能解决所有安全问题，推荐您多绑定其他几种，这样做不仅安全而且可以防止您更换手机后未能及时修改绑定手机所带来的问题。
						</p>
						<h5> <strong>· 手机可正常使用但收不到验证码怎么办？</strong>
						</h5>
						<p>若您的手机可正常使用但无法接收到验证码短信，可能是由于通信网络异常造成的，请您稍后重新尝试操作。</p>
						<h5>
							<strong>· 无法通过验证？</strong>
						</h5>
						<p>
							如果您的手机和邮箱已经无法正常使用，请发送账号名（手机/邮箱/用户名）、联系手机至service@lipin.com，客服将在收到邮件后两小时内联系您。（客服工作时间为09:00-18:00）
						</p>
					</div>
				</div>
				<%- include ../../includes/userfooter.html %>
			</div>
		</div>
	</div>
	<div class="backtop" id="back-to-top">
		<ul class="backtop-group">
			<li>
				<a class="iconimg wap" data-hover="dropdown" href="javascript:;">加关注</a>
				<div class="dropdown-menu">
					<img src="../img/wx.png" alt=""></div>
			</li>
			<li>
				<a class="iconimg qq" target="_blank" href="">QQ在线咨询</a>
			</li>
			<li>
				<a class="iconimg online" href="javascript:NTKF.im_openInPageChat(&#39;kf_9665_1445856633743&#39;)">在线客服</a>
			</li>
			<li>
				<a class="iconimg totop" id="totop" href="#top" style="display: none;">回到顶部</a>
			</li>
		</ul>
	</div>
	<div id="modal-dialog" class="modal hide"></div>
	<div class="modal-cover hide" id="modal-dialog-cover"></div>
</body>
</html>